<div class="col-xs-9">
<form action="<%=questions_url%>" method="post" accept-charset="utf-8" role="form">
  <input 
   type="hidden" 
   name="authenticity_token" 
   value="<%=form_authenticity_token%>" 
   id="authenticity_token"
  >
  
  <div class="form-group">
  <label for="title">Title</label>
  <input class="form-control" type="text" name="question[title]" value="<%=@question.title%>" id="title">
  <br>
</div>

  <div class="form-group">
    
  <label for="question">Question</label>
  <textarea class="form-control" type="text" name="question[body]" id="question"><%=@question.body%></textarea>
</div>
  <br>
  
  <label for="tags">Tags</label>
  <br>
  <select multiple class="chosen-select" name='tags[]' id="tags">
    <%@tags.each do |tag|%>
      <option value="<%=tag.id%>"><%=tag.name%></option>
    <%end%>
  </select>
  <br>
  <br>
  <button id="add-tag-button" class='btn btn-primary'>Add Additional Tags</button>
  <br>
  <br>
  <div class='new-tag-zone'></div>
  <br>
  <button type="submit" class="btn btn-primary">Ask Question</button>
</form>
</div>

<script>
  $('.chosen-select').chosen();
  $('#add-tag-button').on('click', function(event){
    event.preventDefault();
    var ntz = $('.new-tag-zone');
    if(ntz.html() == ""){
      ntz.append('<div class="form group" <label>New tags, separated by commas.</label>')
      ntz.append('<input type="text" class="form-control" name="new_tags_string"></div><br><br>')
    }
    
  });
</script>