<form action="<%=questions_url%>" method="post" accept-charset="utf-8">
  <input 
   type="hidden" 
   name="authenticity_token" 
   value="<%=form_authenticity_token%>" 
   id="authenticity_token"
  >
  
  <label for="title">Title</label>
  <input type="text" name="question[title]" value="<%=@question.title%>" id="title">
  <br>
  
  <label for="question">Question</label>
  <textarea type="text" name="question[body]" id="question"><%=@question.body%></textarea>
  
  <select multiple name='tags[]'>
    <%@tags.each do |tag|%>
    <option value="<%=tag.id%>"><%=tag.name%></option>
    <%end%>
  </select>
  
  <p><input type="submit" value="Ask Question"></p>
</form>