<%@questions.each do |question|%>
  <div class="page-header">
    <h1><a href="<%= question_url(question) %>"><%=question.title%></a></h1>
  </div>
  <p class="lead"><%=question.body%>
  </p>
  
  <%=render 'shared/tags', tags: question.tags%>
  <%=render 'shared/user', user: question.asker%>
<%end%>
