<%@questions.each do |question|%>

<div class='row'>
  <div class="col-xs-2">
    <div class="question-stats">
      <div class="right-point"></div>
      <div class="question-vote-count"><span class='stat-number'><%=question.score%></span><br>votes</div>
      <div class="question-vote-answer"><span class='stat-number'><%=question.answers.count%></span><br>answers</div>
  </div>
  </div>

  <div class="question col-xs-10">
    <h2><a href="<%= question_url(question) %>"><%=question.title%></a></h2>
    <p><%=question.body%></p>
    <%=render 'shared/tags', tags: question.tags%>
    <p>Asked by: <%=render 'shared/user', user: question.asker%> 
       at <%=render 'shared/timestamp', time: question.created_at%></p>
</div>
  
</div>
<hr>
<%end%>
