<div class="vote-block"
  data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
  
  <% my_vote = votable.vote_for_user(current_user) %>
 
  <div class="vote up <%=my_vote == 1 ? "lit" : ""%>" data-type="upvote" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
    
  </div>
  
  <div class="score" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
    <%=votable.score%>
  </div>
  
  <div class="vote down <%=my_vote == -1 ? "lit" : ""%>" data-type="downvote" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
  </div>
</div>