<div class="vote-block"
  data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
 
  <div class="vote up" data-type="upvote" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
    
  </div>
  
  <div class="score" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
    <%=votable.score%>
  </div>
  
  <div class="vote down" data-type="downvote" data-votable="<%=votable.class.to_s%>_<%=votable.id%>">
  </div>
</div>