<!DOCTYPE html>
<html>
<head>
  <title>snackoverload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

  <%= render 'shared/header'%>
    
  <div class="main">
    <div class="container"> 
      <div class="row">

        <div class="col-md-8">
          <%if notice%>
          <p class="notice"><%= notice %></p>
          <%end%>
            <%if alert%>
            <p class="alert"><%= alert %></p>
            <%end%>
              <%if flash[:errors]%>

              <%flash[:errors].each do |error|%>
              <li><%=error%></li>
              <%end%>

              <%end%>
              <%= yield %>
            </div>
            <div class="col-xs-4">
            </div>
          </div>

        </div>
      </div>
    </body>
    </html>
